<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<body>
<div class="container" th:fragment="content">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout</button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="container" th:fragment="content">

                <div th:if="${not #lists.isEmpty(notAcceptedTrips)}">
                    <h2>Wycieczki oczekujące na akceptacjęk</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Tytul wycieczki</th>
                            <th>Krotki opis</th>
                            <th>Full opis</th>
                            <th>Ilosc ludzi</th>
                            <th>Cena </th>
                            <th>Data dodania</th>
                            <th>Akcje</th>
                        </tr>
                        <tr th:each="trip : ${notAcceptedTrips}">
                            <td th:text="${trip.tripTitle}"></td>
                            <td th:text="${trip.tripShortDesc}"></td>
                            <td th:text="${trip.tripFullDesc}"></td>
                            <td th:text="${trip.tripMembersAmount}"></td>
                            <td th:text="${trip.tripPriceMember}"></td>
                            <td th:text="${#dates.format(trip.tripCreateDate, 'dd-MMM-yyyy')}"></td>
                            <td><a href="admin/acceptationPanel" th:href="@{/admin/acceptationPanel/(id=${trip.id})}">Zaakceptuj</a></td>


                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </div>

</div>
</body>
</html>