<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">

    <section class="recentActivitySection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 ">
                    <div class="recentActivityContent bg-ash">
                        <div class="dashboardPageTitle">
                            <h2>Wycieczki oczekujące na akceptację</h2>
                        </div>
                        <div class="table-responsive" data-pattern="priority-columns">
                            <table class="table listingsTable">
                                <tbody>

                                <tr class="rowItem" th:each="trip : ${notAcceptedTrips}">
                                    <td class="dateTd">
                                        <div class="date">25 <span th:text="${#dates.day(trip.tripCreateDate)}"></span></div>
                                    </td>
                                    <td class="iconTd">
                                        <div class="icon br-orange">
                                            <i class="fa fa-fort-awesome" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                    <td class="packageTd">
                                        <ul class="list-inline listingsInfo">
                                            <li>
                                                <h4 th:text="${trip.tripTitle}"><a href="#"></a></h4>
                                                <p>2 Adults Staying</p>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="priceTd">
                                        <ul class="list-inline listingsInfo text-right">
                                            <li>
                                                <h4 th:text="${trip.tripPriceMember}"/>
                                                <p>AVG/Person</p>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="bookingTd">
                                        <ul class="list-inline listingsInfo text-left">
                                            <li>
                                                <h4>TRIP ID</h4>
                                                <p>5754-8DK8-8EE</p>
                                                <h4>BOOKED ON</h4>
                                                <p>Tuesday, Jul 25, 2017</p>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--<div th:if="${not #lists.isEmpty(notAcceptedTrips)}">
        <h2>Wycieczki oczekujące na akceptację</h2>
        <table class="table table-striped">
            <tr>
                <th>Tytul wycieczki</th>
                <th>Krotki opis</th>
                <th>Full opis</th>
                <th>Ilosc ludzi</th>
                <th>Cena</th>
                <th>Data dodania</th>
                <th>Akcje</th>
            </tr>
            <tr th:each="trip : ${notAcceptedTrips}">
                <td th:text="${trip.tripTitle}"></td>
                <td th:text="${trip.tripShortDesc}"></td>
                <td th:text="${trip.tripFullDesc}"></td>
                <td th:text="${trip.tripMembersAmount}"></td>
                <td th:text="${trip.tripPriceMember}"></td>
                <td th:text="${#dates.format(trip.tripCreateDate, 'dd-MM-yyyy')}"></td>
                <td><a href="admin/acceptationPanel" th:href="@{/admin/acceptationPanel/accept(id=${trip.id})}">Zaakceptuj</a>
                    <a href="admin/acceptationPanel"
                       th:href="@{/admin/acceptationPanel/show(id=${trip.id})}">Podglad</a></td>


            </tr>
        </table>
    </div>-->

</div>
</html>