<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">

    <section class="recentActivitySection">
        <div class="container">
            <div class="row">
                <div class="row bookingConfirmed col-xs-12" style="padding-right: 0;">
                    <div class="alert alert-success alert-dismissible" role="alert"
                         th:if="${message?.systemNotification?.containsKey('true')}">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">Ok</span>
                        </button>
                        <span id="messageSuccess" th:text="${message.systemNotification.get('true')}"/>
                    </div>
                    <div class="alert alert-danger alert-dismissible" role="alert"
                         th:if="${message?.systemNotification?.containsKey('fail')}">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">Ok</span>
                        </button>
                        <span id="messageFailed" th:text="${message.systemNotification.get('fail')}"/>
                    </div>
                </div>
                <div class="col-xs-12 ">
                    <div class="recentActivityContent bg-ash">
                        <div class="dashboardPageTitle">
                            <h2>Wycieczki oczekujące na akceptację</h2>
                        </div>
                        <div class="table-responsive" data-pattern="priority-columns">
                            <table class="table listingsTable">
                                <tbody>

                                <tr class="rowItem" th:each="trip : ${notAcceptedTrips}">
                                    <td class="dateTd">
                                        <div class="date">
                                            <div th:text="${#dates.day(trip.tripCreateDate)}"/>
                                            <div th:text="${#dates.monthName(trip.tripCreateDate)}"/>
                                        </div>
                                    </td>
                                    <td class="packageTd">
                                        <ul class="list-inline listingsInfo">
                                            <li>
                                                <a th:id="${trip.tripTitle}" th:href="@{/admin/acceptationPanel/show(id=${trip.id})}"><h4 th:text="${trip.tripTitle}"></h4></a>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="priceTd">
                                        <ul class="list-inline listingsInfo text-right">
                                            <li>
                                                <h4 th:text="${trip.tripPriceMember}"/>
                                                <p>ZŁ/OSOBA</p>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="packageTd">
                                        <ul class="list-inline listingsInfo text-center">
                                            <li>
                                                <a id="acceptTrip" th:href="@{/admin/acceptationPanel/accept(id=${trip.id})}"><h4>Zaakceptuj</h4></a>
                                                <a id="rejectTrip" th:href="@{/admin/acceptationPanel/reject(id=${trip.id})}"><h4>Odrzuć</h4></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>