<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">

    <!-- PAGE CONTENT -->
    <section class="recentActivitySection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 ">

                    <div class="row bookingConfirmed col-xs-12" style="padding-right: 0;">
                        <div class="alert alert-success alert-dismissible" role="alert"
                             th:if="${message?.systemNotification?.containsKey('true')}">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">Ok</span>
                            </button>
                            <span id="messageSuccess" th:text="${message.systemNotification.get('true')}"/>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert"
                             th:if="${message?.systemNotification?.containsKey('fail')}">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">Ok</span>
                            </button>
                            <span id="messageFailed" th:text="${message.systemNotification.get('fail')}"/>
                        </div>
                    </div>

                    <div class="recentActivityContent bg-ash">
                        <div class="dashboardPageTitle">
                            <h2>Wycieczki</h2>
                        </div>
                        <div class="table-responsive" data-pattern="priority-columns"
                             th:each="trip : ${trips}">
                            <table class="table listingsTable">
                                <tbody>
                                <tr class="rowItem">

                                    <td class="dateTd">
                                        <ul class="text-center">
                                            <li>
                                                <h4 th:text="${#dates.format(trip.getTrip().tripCreateDate, 'dd/MM/yyyy')}"/>
                                            </li>
                                        </ul>
                                    </td>

                                    <td class="packageTd">
                                        <ul class="list-inline listingsInfo">
                                            <li>
                                                <h4><a th:href="@{/showTrip(ide=${trip.getTrip().id})}"
                                                       th:text="${trip.getTrip().tripTitle}"/></h4>
                                                <p th:text="${trip.getTrip().tripCountry} + ', ' + ${trip.getTrip().tripCity}"/>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="priceTd">
                                        <ul class="list-inline listingsInfo text-right">
                                            <li>
                                                <h4 th:text="${trip.getTrip().tripPriceMember} + ' zł'"/>
                                                <p th:text="'Ilość członków: ' + ${trip.getTrip().getTripMembers().size()} + ' / ' + ${trip.getTrip().tripMembersAmount}"/>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="bookingTd">
                                        <ul class="list-inline listingsInfo text-left">
                                            <li>
                                                <h4>ID WYCIEKCZKI</h4>
                                                <p th:text="${trip.getTrip().id}"/>
                                                <a href="/admin/allTripsPanel" th:href="@{/admin/allTripsPanel/block(id=${trip.getTrip().id})}" ><h4>Zablokuj</h4></a>
                                                <a href="/admin/allTripsPanel" th:href="@{/admin/allTripsPanel/remove(id=${trip.getTrip().id})}" ><h4>Usuń</h4></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>