<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">

    <!-- PAGE CONTENT -->
    <section class="recentActivitySection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 ">
                    <div class="recentActivityContent bg-ash">
                        <div class="dashboardPageTitle">
                            <h2>Użytkownicy</h2>
                        </div>
                        <div class="table-responsive" data-pattern="priority-columns"
                             th:each="user : ${users}">
                            <table class="table listingsTable">
                                <tbody>
                                <tr class="rowItem">


                                    <td class="packageTd">
                                        <ul class="list-inline listingsInfo">
                                            <li>
                                                <h4 th:text="${user.email}"></h4>
                                                <p th:text="${user.name} + ' ' + ${user.lastName}"/>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="bookingTd">
                                        <ul class="list-inline listingsInfo text-left">
                                            <li>
                                                <h4>ID UŻYTKOWNIKA</h4>
                                                <p th:text="${user.userId}"/>
                                                <a href="/admin/allUsersPanel" th:href="@{/admin/allUsersPanel/block(id=${user.userId})}" ><h4>Zablokuj</h4></a>
                                                <a href="/admin/allUsersPanel" th:href="@{/admin/allUsersPanel/remove(id=${user.userId})}" ><h4>Usuń</h4></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>