<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">
    <section class="settingSection">
        <div class="container">
            <div class="settingContent bg-ash">
                <h4>Dodawanie dokumentów</h4>
                <div class="row">
                    <form autocomplete="off" enctype="multipart/form-data" action="#"
                          th:action="@{/user/docsApproval}"
                          th:object="${doc}" method="post" class="form-horizontal" role="form">
                        <div class="col-sm-12">
                            <input type="file" th:field="*{file}" placeholder="Imię"
                                   class="form-control"/>
                        </div>
                        <div class="col-sm-12">
                            <select class="form-control" th:field="*{documentKind}" id="dropOperator">
                                <option value="0">Wybierz rodzaj dokumentu</option>
                                <option value="1">Prawo jazdy</option>
                                <option value="2">Dowód osobisty</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn buttonTransparent">Wyślij plik</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <section class="settingSection">
        <div class="container">
            <div class="settingContent bg-ash">
                <h4>Przesłane dokumenty</h4>
                <div class="row" th:each="document : ${doc.documentstoreList}">
                    <div class="col-sm-4">
                        <a th:href="@{/user/docsApprovalDownload(id=${document.id})}"><span
                                th:text="${document.filename}"></span></a>
                    </div>
                    <div class="col-sm-8">
                    <span th:switch="${document.documentKind}">
                        <p th:case="1">Prawo jazdy</p>
                        <p th:case="2">Dowód osobisty</p>
                        <p th:case="0">Nieokreślony</p>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>