<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">

    <section class="settingSection">
        <div class="container">
            <div class="settingContent bg-ash">
                <h4>Edycja profilu</h4>
                <div class="changePassword">
                    <div class="row">

                        <form autocomplete="off" action="#" th:action="@{/user/edit}"
                              th:object="${userEdit}" method="post" class="form-horizontal" role="form">

                            <div class="col-sm-12">
                                <fieldset>
                                    <div class="form-group">
                                        <label>Imie</label>
                                        <input type="text" class="form-control"
                                               th:field="*{name}"
                                               rows="2">
                                        </input>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="col-sm-12">
                                <fieldset>
                                    <div class="form-group">
                                        <label>Nazwisko</label>
                                        <input type="text" class="form-control"
                                               th:field="*{lastName}"
                                               rows="2">
                                        </input>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="col-sm-12">
                                <button type="submit" name="Submit" class="btn buttonTransparent">Edytuj</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>