<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">
    <form autocomplete="off" action="#" th:action="@{/user/edit}"
          th:object="${userEdit}" method="post" class="form-horizontal" role="form">
        <div style="width: 30%">
            <input type="text" th:field="*{name}" placeholder="Imię"
                   class="form-control"/>
        </div>
        <div style="width: 30%">
            <input type="text" th:field="*{lastName}" placeholder="Nazwisko"
                   class="form-control"/>
        </div>
        <div style="width: 30%">
            <button type="submit" class="btn buttonTransparent">Edytuj</button>
        </div>
    </form>
</div>