<footer>
    <div class="copyRight clearfix ">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-push-6 col-xs-12">
                    <ul class="list-inline">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-sm-pull-6 col-xs-12">
                    <div class="copyRightText">
                        <p>Copyright © 2016. All Rights Reserved by PJATK
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>