<header xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-default navbar-main    lightHeader " role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown singleDrop ">
                        <a href="/" class="dropdown-toggle">Home </a>
                    </li>

                    <li sec:authorize="isAnonymous()"><a id="registrationLink" href="/registration">Zarejestruj</a></li>
                    <li sec:authorize="isAnonymous()"><a id="loginLink" href="/login">Zaloguj</a></li>

                    <li class="dropdown singleDrop">
                        <a id="tripsLink" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Wycieczki</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="" sec:authorize="isAnonymous()"><a id="showTripsUnloggedLink" href="/trips">Pokaż wycieczki</a></li>
                            <li class="" sec:authorize="isAuthenticated()"><a id="showTripsLoggedLink" href="/showTrips">Pokaż wycieczki</a></li>
                            <li class="" sec:authorize="isAuthenticated()"><a id="myTripsLink" href="/myTrips">Moje wycieczki</a></li>
                        </ul>
                    </li>

                    <li class="dropdown singleDrop" sec:authorize="isAuthenticated()">
                        <a id="organiserLink" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Organizator</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class=""><a id="addTripLink" href="/addTrip">Dodaj wycieczkę</a></li>
                            <li class=""><a id="tripsManagementLink" href="/myTripsManagment">Zarządzaj wycieczkami</a></li>
                        </ul>
                    </li>

                    <!--AUTORYZACJA ADMINA-->
                    <li class="dropdown singleDrop" sec:authorize="hasAuthority('ADMIN')">
                        <a id="adminLink" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Admin</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class=""><a id="acceptationPanelLink" href="/admin/acceptationPanel">Akceptacja wycieczek</a></li>
                            <li class=""><a href="/admin/allTripsPanel">Zarządzanie wycieczkami</a></li>
                            <li class=""><a href="/admin/allUsersPanel">Zarządzanie użytkownikami</a></li>
                            <li class=""><a href="/admin/pageStatistics">Statystyki</a></li>
                        </ul>
                    </li>

                    <li class="dropdown singleDrop" sec:authorize="isAuthenticated()">
                        <a id="userLink" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Użytkownik</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class=""><a id="userInfoLink" href="/user/info">Pokaż profil</a></li>
                            <li class=""><a id="userEditLink" href="/user/edit">Edytuj profil</a></li>
                            <li class=""><a id="docsApprovalLink" href="/user/docsApproval">Prześlij dokumenty</a></li>
                        </ul>
                    </li>
                    <li class="dropdown singleDrop" sec:authorize="isAuthenticated()">
                        <a href="/logout" class="dropdown-toggle">Wyloguj <span sec:authentication="name">Username</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>