<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:include="layout :: page">


<div class="content" th:fragment="content">
    <div class="main-wrapper">

        <!-- TOP DEALS -->
        <section class="mainContentSection packagesSection">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="sectionTitle">
                            <h2><span class="lightBg" style="background-color: whitesmoke">Niedawno dodane wycieczki</span></h2>
                            <p>Najlepsze podróże w najniższej cenie. Przekonaj się!</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-12" th:each="element : ${indexTrips}">
                    <div class="thumbnail deals">






                        <!--<img src="images/home/deal/deal-02.jpg" alt="deal-image">-->







                        <img th:attrappend="src=${element.mainImageStore == null ? '../files/no-picture-list.png' : '../files/' + element.mainImageStore.imgName}"
                             alt="Image">






                        <a th:href="@{/showTrip(ide=${element.trip.id})}" class="pageLink"></a>

                        <div class="caption">
                            <h4><a th:href="@{/showTrip(ide=${element.trip.id})}" class="captionTitle"
                                   th:text="${element.trip.tripTitle}"/></h4>
                            <p th:text="${element.trip.tripShortDesc}"/>
                            <div class="detailsInfo">

                                <h5>
                                    <span>Cena od</span>
                                    <th:block th:utext="${element.trip.tripPriceMember} + ' zł'"/>
                                </h5>

                                <ul class="list-inline detailsBtn">
                                    <li><a th:href="@{/showTrip(ide=${element.trip.id})}" class="btn buttonTransparent">Szczegóły</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="btnArea">
                            <a href="/trips" sec:authorize='isAnonymous()' class="btn buttonTransparent">Pokaż wszystkie</a>
                            <a href="/trips" sec:authorize='hasAuthority("NOTVERIFIEDUSER")' class="btn buttonTransparent">Pokaż wszystkie</a>
                            <a href="/showTrips" sec:authorize='hasAnyAuthority("USER","ADMIN")' class="btn buttonTransparent">Pokaż wszystkie</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="countUpSection">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <div class="text-center">
                            <div class="icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="counter" th:text="${statistics.destinationsCount}"></div>
                            <h5>Celów wycieczek</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="text-center">
                            <div class="icon">
                                <i class="fa fa-gift" aria-hidden="true"></i>
                            </div>
                            <div class="counter" th:text="${statistics.finishedTripsCount}"></div>
                            <h5>Odbytych wycieczek</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="text-center">
                            <div class="icon">
                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                            </div>
                            <div id="activeUsersCount" class="counter" th:text="${statistics.activeUsersCount}"></div>
                            <h5>Aktywnych użytkowników</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>