<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">


<div class="content" th:fragment="content">
    <div class="main-wrapper">

        <!-- TOP DEALS -->
        <section class="mainContentSection packagesSection">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="sectionTitle">
                            <h2><span class="lightBg">Nasze najnowsze wycieczki</span></h2>
                            <p>Ciesz się najlepszymi cenami na nowo dodane wycieczki!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12" th:each="trip : ${index_form}">
                        <div class="thumbnail deals">
                            <img th:src="@{/images/home/deal/deal-01.jpg}" alt="deal-image">
                            <a href="/" class="pageLink"></a>
                            <div class="discountInfo">
                                <div class="discountOffer">
                                    <h4>
                                        50% <span>OFF</span>
                                    </h4>
                                </div>
                                <ul class="list-inline rating homePage">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                                <ul class="list-inline duration">
                                    <li th:text="${#dates.day(trip.tripCreateDate)}"></li>
                                    <li th:text="${#dates.monthName(trip.tripCreateDate)}"></li>
                                </ul>
                            </div>
                            <div class="caption">
                                <h4 th:text="${trip.tripTitle}"></h4>
                                <p th:text="${trip.tripShortDesc}"></p>
                                <div class="detailsInfo">
                                    <h5>
                                        <span>Cena od</span>
                                        <p th:text="${trip.tripPriceMember}" ></p>
                                    </h5>
                                    <ul class="list-inline detailsBtn">
                                        <li><a href="/showTrip" class="btn buttonTransparent" th:href="@{/showTrip(ide=${trip.id})}" th:text="Szczegóły"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btnArea">
                            <a href="/showTrips" class="btn buttonTransparent">Pokaż wszystkie</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>

</div>