<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">


<div class="container" th:fragment="content">

    <section class="settingSection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="settingContent bg-ash">
                        <h4>Login</h4>
                        <div class="changePassword">
                            <div class="row">

                                <form th:action="@{/login}" method="POST">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="email" id="email"
                                               th:placeholder="Email">
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="password" th:placeholder="Password"
                                               id="password" name="password" class="form-control">
                                    </div>
                                    <div class="col-sm-12" align="center" th:if="${param.error}">
                                        <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please
                                            verify</p>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn buttonTransparent" name="Submit" value="Login"
                                                th:text="Login"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


</html>