<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">

    <section class="settingSection">
        <div class="container">
            <div class="settingContent bg-ash">
                <h4>Rejestracja</h4>
                <div class="changePassword">
                    <div class="row">

                        <form autocomplete="off" action="#" th:action="@{/registration}"
                              th:object="${user}" method="post" class="form-horizontal"
                              role="form">

                            <div class="col-sm-12" align="left" th:if="${param.success != null}">
                                <label id="message" style="font-size: 20; color: forestgreen;">Rejestracja przebiegla pomyslnie <a href="/login">Zaloguj</a> </label>
                            </div>

                            <div class="col-sm-12">
                                <input type="text" th:field="*{name}" placeholder="Name" th:required="required"
                                       class="form-control"/>
                            </div>

                            <div class="col-sm-12">
                                <input type="text" th:field="*{lastName}"
                                       placeholder="Last Name" class="form-control" th:required="required"/>
                            </div>

                            <div class="col-sm-12">
                                <input type="email" th:field="*{email}" placeholder="Email"
                                       class="form-control" th:required="required"/> <label
                                    th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                    class="validation-message"></label>
                            </div>


                            <div class="col-sm-12">
                                <input type="password" th:field="*{password}"
                                       placeholder="Password" class="form-control"/>
                            </div>

                            <div class="col-sm-12">
                                <button type="submit" name="Submit" class="btn buttonTransparent">Register User</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>