<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org">-->


<!--<form autocomplete="off" th:action="@{/uploadFile}"-->
      <!--method="post" class="form-horizontal" role="form" enctype="multipart/form-data">-->

    <!--File to upload: <input type="file" name="file">-->
    <!--<br/>-->
    <!--Name: <input type="text" name="name">-->
    <!--<br/>-->
    <!--<br/>-->
    <!--<input type="submit" value="Upload">-->


<!--</form>-->
<!--<p th:text="${message}" />-->
<!--</html>-->

