<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">

    <section class="settingSection">
        <div class="container">
            <div class="settingContent bg-ash">
                <h4>Dodawanie wycieczki</h4>
                <div class="changePassword">
                    <div class="row">
                        <div class="alert alert-success alert-dismissible" role="alert"
                             th:if="${message?.systemNotification?.containsKey('true')}">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">Ok</span>
                            </button>
                            <span id="messageSuccess" th:text="${message.systemNotification.get('true')}"/>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert"
                             th:if="${message?.systemNotification?.containsKey('fail')}">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">Ok</span>
                            </button>
                            <span id="messageFailed" th:text="${message.systemNotification.get('fail')}"/>
                        </div>

                        <form autocomplete="off" action="#" th:action="@{/addTrip}"
                              th:object="${trip_form}" method="post" class="form-horizontal" role="form">
                            <div class="col-sm-12">
                                <label th:if="${#fields.hasErrors('tripShortDesc')}" th:errors="*{tripShortDesc}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{tripTitle}" placeholder="Dodaj tytul wycieczki"
                                       class="form-control" th:maxlength="255" th:required="required"/>
                            </div>

                            <div class="col-sm-12">
                                <label th:if="${#fields.hasErrors('tripShortDesc')}" th:errors="*{tripShortDesc}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{tripShortDesc}" placeholder="Dodaj opis wycieczki"
                                       class="form-control" th:maxlength="1000" th:required="required"/>
                            </div>

                            <div class="col-sm-12">
                                <input type="text" th:field="*{tripFullDesc}" placeholder="Pelen opis wycieczki"
                                       class="form-control" th:maxlength="5000" th:required="required"/>
                            </div>

                            <div class="col-sm-12">
                                <input type="number" th:field="*{tripMembersAmount}"
                                       placeholder="Ilosc czlonkow wycieczki"
                                       class="form-control" th:max="50" th:required="required"/>
                            </div>

                            <div class="col-sm-12">
                                <input type="number" th:field="*{tripPriceMember}" placeholder="Cena za osobe"
                                       class="form-control" th:required="required"/>
                            </div>

                            <div class="col-sm-12">
                                <input type="date" th:field="*{tripStartDate}" placeholder="Data rozpoczecia wycieczki"
                                       class="form-control" th:required="required"/>
                            </div>
                            <div class="col-sm-12">
                                <input type="date" th:field="*{tripEndDate}" placeholder="Data zakonczenia wycieczki"
                                       class="form-control" th:required="required"/>
                            </div>

                            <div class="col-sm-12">
                                <input type="text" th:field="*{tripCountry}" placeholder="Kraj podróży"
                                       class="form-control" th:maxlength="255" th:required="required"/>
                            </div>

                            <div class="col-sm-12">
                                <input type="text" th:field="*{tripCity}" placeholder="Miasto (Nieobowiązkowe)"
                                       class="form-control" th:maxlength="255"/>
                            </div>

                            <div class="col-sm-12">
                                <input type="text" th:field="*{tripStreet}" placeholder="Ulica oraz numer bloku (Nieobowiązkowe)"
                                       class="form-control" th:maxlength="255"/>
                            </div>

                            <div class="col-sm-12">
                                <input type="tel" th:field="*{organizatorPhoneNumber}" placeholder="Telefon kontaktowy"
                                       class="form-control" pattern="[0-9]{9}" th:required="required"/>
                            </div>

                            <div class="col-sm-12">
                                <input type="email" th:field="*{organizatorEmail}" placeholder="E-mail"
                                       class="form-control" th:required="required"/>
                            </div>

                            <div class="col-sm-12">
                                <button type="submit" name="Submit" class="btn buttonTransparent">Dodaj</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
