<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">

    <!-- PAGE TITLE -->
    <section class="pageTitle"
             style="background-image:url(../images/pages/page-title-bg6.jpg);padding: 0px;margin: 0px">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="titleTable">
                        <div class="titleTableInner">
                            <div class="pageTitleInfo">
                                <h1>Moje wycieczki</h1>
                                <div class="under-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PAGE CONTENT -->
    <section class="mainContentSection packagesSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-2  col-xs-2" style="display:block">
                </div>
                <div class="col-sm-8  col-xs-8">
                    <div class="row sidebarPage">
                        <ul class="nav nav-tabs" role="tablist" id="tablist">
                            <li role="presentation">
                                <a href="#wait" aria-controls="wait" role="tab" data-toggle="tab"
                                   th:text="'Do weryfikacji (' +${showTripsAmountInfo.get('memberToVerify')}+ ')'"/>
                            </li>
                            <li role="presentation">
                                <a href="#topaid" aria-controls="topaid" role="tab" data-toggle="tab"
                                   th:text="'Oczekujące na zapłatę (' +${showTripsAmountInfo.get('memberWaitForPayment')}+ ')'"/>
                            </li>
                            <li role="presentation">
                                <a href="#paid" aria-controls="paid" role="tab" data-toggle="tab"
                                   th:text="'Opłacone (' +${showTripsAmountInfo.get('paidMember')}+ ')'"/>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="wait" class="tab-pane fade">
                                <div class="media packagesList"
                                     th:each="element : ${showTripsWrapper.get('tripsToVerify')}">

                                    <a class="media-left fancybox-pop" th:attrappend="href=${element.mainImageStore == null ? '../files/no-picture-list.png' : '../files/' + element.mainImageStore.imgName}">
                                        <img class="media-object" style="height:234px;" th:attrappend="src=${element.mainImageStore == null ? '../files/no-picture-list.png' : '../files/' + element.mainImageStore.imgName}" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <div class="bodyLeft">
                                            <h4 class="media-heading"><a href="/showTrip"
                                                                         th:href="@{/showTrip(ide=${element.trip.id})}"
                                                                         th:text="${element.trip.tripTitle}"/></h4>
                                            <span><b th:text="${element.trip.tripCountry}"/></span>
                                            <p th:text="${element.trip.tripShortDesc}"/>
                                            <ul class="list-inline detailsBtn">
                                                <li><span class="textInfo"><i class="fa fa-calendar"
                                                                              aria-hidden="true"></i><span
                                                        style="padding-left: 5px;font-weight: bold"
                                                        th:text="${#dates.format(element.trip.tripStartDate, 'dd/MM/yyyy')}"></span></span>
                                                </li>
                                                <li><span class="textInfo"><i class="fa fa-clock-o"
                                                                              aria-hidden="true"></i><span
                                                        style="padding-left: 5px;font-weight: bold"
                                                        th:text="${element.statistics.get('daysAmount')}+' Dni'"></span></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="bodyRight">
                                            <div class="bookingDetails">
                                                <h2 th:text="${element.trip.tripPriceMember}"/>
                                                <p>ZŁ/OSOBA</p>
                                                <a href="/showTrip" th:href="@{/showTrip(ide=${element.trip.id})}"
                                                   class="btn buttonTransparent clearfix">Szczegóły</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="topaid" class="tab-pane fade">
                                <div class="media packagesList"
                                     th:each="element : ${showTripsWrapper.get('waitForPayment')}">
                                    <a class="media-left fancybox-pop" th:attrappend="href=${element.mainImageStore == null ? '../files/no-picture-list.png' : '../files/' + element.mainImageStore.imgName}">
                                        <img class="media-object" style="height:234px;" th:attrappend="src=${element.mainImageStore == null ? '../files/no-picture-list.png' : '../files/' + element.mainImageStore.imgName}" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <div class="bodyLeft">
                                            <h4 class="media-heading"><a href="/showTrip"
                                                                         th:href="@{/showTrip(ide=${element.trip.id})}"
                                                                         th:text="${element.trip.tripTitle}"/></h4>
                                            <span><b th:text="${element.trip.tripCountry}"/></span>
                                            <p th:text="${element.trip.tripShortDesc}"/>
                                            <ul class="list-inline detailsBtn">
                                                <li><span class="textInfo"><i class="fa fa-calendar"
                                                                              aria-hidden="true"></i><span
                                                        style="padding-left: 5px;font-weight: bold"
                                                        th:text="${#dates.format(element.trip.tripStartDate, 'dd/MM/yyyy')}"></span></span>
                                                </li>
                                                <li><span class="textInfo"><i class="fa fa-clock-o"
                                                                              aria-hidden="true"></i><span
                                                        style="padding-left: 5px;font-weight: bold"
                                                        th:text="${element.statistics.get('daysAmount')}+' Dni'"></span></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="bodyRight">
                                            <div class="bookingDetails">
                                                <h2 th:text="${element.trip.tripPriceMember}"/>
                                                <p>ZŁ/OSOBA</p>
                                                <a href="/showTrip" th:href="@{/showTrip(ide=${element.trip.id})}"
                                                   class="btn buttonTransparent clearfix">Szczegóły</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="paid" class="tab-pane fade">
                                <div class="media packagesList"
                                     th:each="element : ${showTripsWrapper.get('paidTrips')}">
                                    <a class="media-left fancybox-pop" th:attrappend="href=${element.mainImageStore == null ? '../files/no-picture-list.png' : '../files/' + element.mainImageStore.imgName}">
                                        <img class="media-object" style="height:234px;" th:attrappend="src=${element.mainImageStore == null ? '../files/no-picture-list.png' : '../files/' + element.mainImageStore.imgName}" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <div class="bodyLeft">
                                            <h4 class="media-heading"><a href="/showTrip"
                                                                         th:href="@{/showTrip(ide=${element.trip.id})}"
                                                                         th:text="${element.trip.tripTitle}"/></h4>
                                            <span><b th:text="${element.trip.tripCountry}"/></span>
                                            <p th:text="${element.trip.tripShortDesc}"/>
                                            <ul class="list-inline detailsBtn">
                                                <li><span class="textInfo"><i class="fa fa-calendar"
                                                                              aria-hidden="true"></i><span
                                                        style="padding-left: 5px;font-weight: bold"
                                                        th:text="${#dates.format(element.trip.tripStartDate, 'dd/MM/yyyy')}"></span></span>
                                                </li>
                                                <li><span class="textInfo"><i class="fa fa-clock-o"
                                                                              aria-hidden="true"></i><span
                                                        style="padding-left: 5px;font-weight: bold"
                                                        th:text="${element.statistics.get('daysAmount')}+' Dni'"></span></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="bodyRight">
                                            <div class="bookingDetails">
                                                <h2 th:text="${element.trip.tripPriceMember}"/>
                                                <p>ZŁ/OSOBA</p>
                                                <a href="/showTrip" th:href="@{/showTrip(ide=${element.trip.id})}"
                                                   class="btn buttonTransparent clearfix">Szczegóły</a>
                                                <a href="/travelerPanel" th:href="@{/travelerPanel(tripId=${element.trip.id})}"
                                                   class="btn buttonTransparent clearfix">Panel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2  col-xs-2" style="display:block">
                </div>
            </div>
        </div>
    </section>
</div>