<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">


    <section class="mainContentSection singleHotel">
        <div class="container">
            <div class="row ">
                <div class="col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label>Wycieczka</label>
                                        <input type="text" class="form-control" th:value="${tripInfo.tripTitle}">
                                    </div>
                                </fieldset>
                            </div>

                            <div class="form-group">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label>Opis wycieczki</label>
                                        <textarea type="text" class="form-control"
                                                  th:field="*{tripInfo.tripShortDesc}"
                                                  rows="2">
                                        </textarea>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="form-group">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label>Data dodania</label>
                                        <input type="text" class="form-control" th:value="${tripInfo.tripCreateDate}">
                                    </div>
                                </fieldset>
                            </div>


                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <div class="form-group">
                                        <label>Lista użytkowników</label>
                                    </div>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Email</th>
                                            <th>Operacje</th>
                                        </tr>

                                        <form th:action="@{/myTripManagment(ids=${tripInfo.id})}" method="POST"
                                              role="form" class="form" th:object="${form}">


                                            <tr th:each="trip, itemStat : ${form.tripMemberList}">
                                                <td th:text="${trip.tripMember.email}"></td>
                                                <td>


                                                    <div class="bookingDrop">
                                                        <select th:field="*{tripMemberList[__${itemStat.index}__].status}"
                                                                class="select-drop" style="display: none;">
                                                            <option value="1" th:value="1">1 - Zainteresowany</option>
                                                            <option value="2" th:value="2">2 - Zatwierdzony, do
                                                                opłacenia
                                                            </option>
                                                            <option value="3" th:value="3">3 - Opłacony</option>
                                                        </select>
                                                        <input type="hidden"
                                                               th:field="*{tripMemberList[__${itemStat.index}__].id}"/>
                                                    </div>
                                                    <button type="submit" class="btn buttonCustomPrimary">Zmień</button>
                                                </td>


                                            </tr>
                                        </form>

                                    </table>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <div class="form-group">
                                        <label>Komentarze</label>
                                    </div>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Zapytanie</th>
                                            <th>Odpowiedź</th>
                                            <th>Operacje</th>
                                        </tr>

                                        <form th:action="@{/myTripManagment/updatedComment(ids=${tripInfo.id})}" method="POST"
                                              role="form" class="form" th:object="${commentsForm}">


                                            <tr th:each="comment, itemStat : ${commentsForm.commentsList}">
                                                <input type="hidden" th:field="*{commentsList[__${itemStat.index}__].id}"/>
                                                <td th:text="${comment.userQuestion}"></td>
                                                <td><input type="text" th:field="*{commentsList[__${itemStat.index}__].organisationAnswer}" /></td>
                                                <td><button type="submit" class="btn buttonCustomPrimary">Odpowiedz</button></td>
                                            </tr>
                                        </form>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>