<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">
    <section class="mainContentSection singlePackage">
        <div class="container">
            <div class="row ">
                <div class="col-sm-8">
                    <div class="col-xs-12">

                        <ul class="nav nav-tabs" role="tablist" id="tablist" style="margin-bottom: 15px">
                            <li role="presentation">
                                <a href="#user-list" aria-controls="add" role="tab" data-toggle="tab">Lista
                                    użytkowników</a>

                            </li>
                        </ul>

                        <div class="alert alert-success alert-dismissible" role="alert"
                             th:if="${message?.systemNotification?.containsKey('true')}">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">Ok</span>
                            </button>
                            <span id="messageSuccess" th:text="${message.systemNotification.get('true')}"/>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert"
                             th:if="${message?.systemNotification?.containsKey('fail')}">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">Ok</span>
                            </button>
                            <span id="messageFailed" th:text="${message.systemNotification.get('fail')}"/>
                        </div>

                        <div class="tab-content">
                            <form th:action="@{/myTripManagment(ids=${tripInfo.trip.id})}" method="POST"
                                  role="form" class="form" th:object="${form}">
                                <div id="user-list" class="tab-pane fade">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Email</th>
                                            <th>Operacje</th>
                                        </tr>

                                        <tr th:each="trip, itemStat : ${form.tripMemberList}">
                                            <td th:text="${trip.tripMember.email}"></td>
                                            <td>

                                                <div class="bookingDrop">
                                                    <select th:field="*{tripMemberList[__${itemStat.index}__].status}"
                                                            class="select-drop" style="display: none;"
                                                            id="*{tripMemberList[__${itemStat.index}__].status}">
                                                        <option id="interested" value="1" th:value="1">1 -
                                                            Zainteresowany
                                                        </option>
                                                        <option id="accepted" value="2" th:value="2">2 - Zatwierdzony,
                                                            do
                                                            opłacenia
                                                        </option>
                                                        <option id="paid" value="3" th:value="3">3 - Opłacony</option>
                                                    </select>
                                                    <input type="hidden"
                                                           th:field="*{tripMemberList[__${itemStat.index}__].id}"/>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="float: right">
                                    <button name="Submit" id="submitStatusChange" type="submit"
                                            class="btn buttonCustomPrimary">Zmień
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Zarządzaj wycieczką</div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a th:href="@{/myTripManagment(ids=${tripInfo.trip.id})}"
                                       class="list-group-item">Informacje główne</a>
                                    <a th:href="@{/myTripManagment/users(ids=${tripInfo.trip.id})}"
                                       class="list-group-item active">Lista użytkowników</a>
                                    <a th:href="@{/myTripManagment/travelerPanel(ids=${tripInfo.trip.id})}"
                                       class="list-group-item">Plan wycieczki</a>
                                    <a href="#" class="list-group-item">Wiadomości</a>
                                    <a th:href="@{/myTripManagment/comments(ids=${tripInfo.trip.id})}"
                                       class="list-group-item">Komentarze</a>
                                    <a th:href="@{/myTripManagment/files-to-download(ids=${tripInfo.trip.id})}"
                                       class="list-group-item">Pliki do pobrania</a>
                                    <a th:href="@{/myTripManagment/gallery(ids=${tripInfo.trip.id})}"
                                       class="list-group-item">Galeria</a>
                                    <a href="#" class="list-group-item">Zakończ wycieczkę</a>
                                    <a th:href="@{/showTrip(ide=${tripInfo.trip.id})}" class="list-group-item"
                                       target="_blank">Podgląd wycieczki</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>