<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <!--<div>-->
                <!--<b>Tytul wycieczki</b>-->
                <!--<br />-->
                <!--<span th:utext="${tripInfo.getTripTitle()}"></span>-->
            <!--</div>-->
            <!--<div>-->
                <!--<b>Opis wycieczki</b>-->
                <!--<br />-->
                <!--<span th:utext="${tripInfo.getTripFullDesc()}"></span>-->
            <!--</div>-->

            <!--<div>-->
                <!--<b>Cena od osoby za wycieczke</b>-->
                <!--<br />-->
                <!--<span th:utext="${tripInfo.getTripPriceMember()}"></span>-->
            <!--</div>-->

            <div>
                <b>Data utworzenia wycieczki</b>
                <br />
                <span th:utext="${#dates.format(tripInfo.tripCreateDate, 'dd-MM-yyyy')}"></span>
            </div>


            <div>
                <b>Data ostatniej edycji wycieczki</b>
                <br />
                <span th:utext="${#dates.format(tripInfo.tripEditDate, 'dd-MM-yyyy')}"></span>
            </div>

            <div>
                <b>Data zakończenia wycieczki</b>
                <br />
                <span th:utext="${#dates.format(tripInfo.tripEndDate, 'dd-MM-yyyy')}"></span>
            </div>


        </div>
    </div>

    <div class="review-aria">
        <div class="sectionTitle2">
            <h2>Reviews</h2>
        </div>
        <div class="reviewContent">

            <div class="reviewMedia">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="img/blog/comments-02.jpg" alt="Image">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">Jessica Brown</h5>
                            <span>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan totam rem ape riam</p>
                        </div>
                    </li>
                </ul>
            </div>

            <form action="#" method="post" role="form" class="commentsForm" th:object="${commentForm}" th:action="@{/addComment(id=${tripInfo.id})}">

                <h3 class="reviewTitle">Dodaj komentarz</h3>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <textarea type="text" th:field="*{text}" class="form-control" rows="3" placeholder="Dodaj komentarz..."></textarea>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn buttonCustomPrimary">Dodaj</button>

            </form>

        </div>
    </div>

</div>