<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">

    <div th:if="${not #lists.isEmpty(show_trips)}">
        <h2>Lista wycieczek</h2>
        <table class="table table-striped">
            <tr>
                <th>Tytul wycieczki</th>
                <th>Krotki opis</th>
                <th>Full opis</th>
                <th>ilosc ludzi</th>
                <th>cena</th>
                <th>data dodania</th>
            </tr>
            <tr th:each="count : ${show_trips}">
                <td><a href="/showTrip" th:href="@{/showTrip(ide=${count.id})}"><span th:text="${count.tripTitle}"/></a></td>
                <td th:text="${count.tripShortDesc}"></td>
                <td th:text="${count.tripFullDesc}"></td>
                <td th:text="${count.tripMembersAmount}"></td>
                <td th:text="${count.tripPriceMember}"></td>
                <td th:text="${#dates.format(count.tripCreateDate, 'dd-MM-yyyy')}"></td>
            </tr>
        </table>
    </div>


</div>