<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div th:fragment="content">

    <!-- PAGE TITLE -->
    <section class="pageTitle"
             style="background-image:url(../images/pages/page-title-bg6.jpg);padding: 0px;margin: 0px">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="titleTable">
                        <div class="titleTableInner">
                            <div class="pageTitleInfo">
                                <h1>Wyszukaj wycieczkę</h1>
                                <div class="under-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PAGE CONTENT -->
    <section class="mainContentSection packagesSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <aside>
                        <div class="panel panel-default packagesFilter">
                            <div class="panel-heading">
                                <h3 class="panel-title">search</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <form autocomplete="off" action="#" th:action="@{/trips}"
                                          th:object="${tripSearch}" method="post" class="form-horizontal" role="form">
                                        <div class="col-sm-12">
                                            <input id="tripTitle" type="text" th:field="*{tripTitle}" placeholder="Tytul wycieczki"
                                                   class="form-control"/>
                                        </div>

                                        <div class="col-sm-12">
                                            <input id="tripCountry" type="text" th:field="*{tripCountry}" placeholder="Kraj podróży"
                                                   class="form-control"/>
                                        </div>

                                        <div class="col-sm-12">
                                            <input id="tripCity" type="text" th:field="*{tripCity}" placeholder="Miasto"
                                                   class="form-control"/>
                                        </div>

                                        <div class="col-sm-12">
                                            <button type="submit" name="Submit" class="btn buttonTransparent">Wyszukaj</button>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>


                <div class="col-sm-9  col-xs-12">
                    <div class="row sidebarPage">
                        <div class="col-xs-12">
                            <div class="media packagesList tripElement" th:each="element : ${showTripsWrapper}">

                                <a class="media-left fancybox-pop"
                                   th:attrappend="href=${element.mainImageStore == null ? '../files/no-picture-list.png' : '../files/' + element.mainImageStore.imgName}">
                                    <img class="media-object" style="height:234px;"
                                         th:attrappend="src=${element.mainImageStore == null ? '../files/no-picture-list.png' : '../files/' + element.mainImageStore.imgName}"
                                         alt="Image">
                                </a>

                                <div class="media-body">
                                    <div class="bodyLeft">
                                        <h4 class="media-heading"><a href="/showTrip"
                                                                     th:href="@{/showTrip(ide=${element.trip.id})}"
                                                                     th:text="${element.trip.tripTitle}"
                                                                     th:id="${element.trip.tripTitle}"></a></h4>
                                        <span><b th:text="${element.trip.tripCountry}"></b></span>
                                        <p th:text="${element.trip.tripShortDesc}"/>
                                        <ul class="list-inline detailsBtn">
                                            <li><span class="textInfo"><i class="fa fa-calendar" aria-hidden="true"></i><span
                                                    style="padding-left: 5px;font-weight: bold"
                                                    th:text="${#dates.format(element.trip.tripStartDate, 'dd/MM/yyyy')}"></span></span>
                                            </li>
                                            <li><span class="textInfo"><i class="fa fa-clock-o"
                                                                          aria-hidden="true"></i><span
                                                    style="padding-left: 5px;font-weight: bold"
                                                    th:text="${element.getStatistics().get('daysAmount')}+' Dni'"></span></span>
                                            </li>
                                            <!--<li><span class="textInfo"><i class="fa fa-clock-o" aria-hidden="true"></i>to do</span></li>-->
                                        </ul>
                                    </div>
                                    <div class="bodyRight">
                                        <div class="bookingDetails">
                                            <h2 th:text="${element.trip.tripPriceMember}"/>
                                            <p>ZŁ/OSOBA</p>
                                            <a href="/showTrip" th:href="@{/showTrip(ide=${element.trip.id})}"
                                               class="btn buttonTransparent clearfix">Szczegóły</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>